.navbar-fixed-top{
  height: 9%;
}
.navbar-right{
  color:#495E5D ;
  font-family:sans-serif;
  font-weight: bold;
  font-size:132%;
  letter-spacing: 2px;
  padding-left: 4px;
  padding-top: 4px;
}

.textbg{
border: 3px solid #FFFFFF;
box-shadow:1px 1px 12px 8px rgb(0 0 0 / 10%);
position:absolute;
color:#FFFFFF;
font-weight:500;
font-size:410%;
line-height:2em;
font-family:Verdana, sans-serif;
text-align:center;
top:120px;
left:130px;
padding:8px;
}

.logobg{
position:absolute;
top:150px;
left:150px;
}

#part1{
  border: .01px solid;
  padding: 30px;
  text-align:center;
  box-shadow: 5px 10px #DBE0E3;
  margin-top:9%;
  overflow:auto;
}
.desc{
  font-weight:50;
  font-size:23px;
  font-family:Arial;
}
#part2{
margin-top:9%;
}

#welcometext {
font-family: 'IBM Plex Mono', monospace;
font-weight:520;
font-size:450%;
letter-spacing: .15em;
text-align:center;
margin-top:7%;
margin-bottom:6%;
}
#red{color:red;}
#blue{color:blue;}
#green{color:green;}
#yellow{color:#F1C40F;}

.card{
  border:1.5px solid #eee;
  margin-top:40%;
  margin-bottom: 9%;
  padding:12px;
}
.card:hover{
    box-shadow:  1px 1px 5px 3px  #DBE0E3;
}
.card-body{
  padding:3px 7px 0px 8px;
}
.card-text{
  text-align:center;
  font-family: sans-serif;
  line-height: 1.1em;
  font-size:24px;
  color: #55504D;
}

#domain, #contact{
  font-family:'Prata', serif, sans-serif;
  text-align:center;
  font-weight: 400;
  margin-top:10%;
  font-size:450%;
  margin-top:5%;
}
#web1, #web2,#web3,#web4{
  border: .01px solid;
  padding-top:7px;
  text-align: center;
  box-shadow:  1px 1px 5px 3px #D2D2D6  ;
  margin-top:3%;
  color:#FFFFFF;
  width: 360px;
  height: 350px;
  font-size: 40px;
  font-weight: bold;
  line-height: 70px;
}
#web1{
background-color:#DC3D3D;}
#web2{
  background-color:#57A7DC; }
#web3{
  background-color:#34B845; }
#web4{
  background-color:#F1C40F ;
  width: 450px;
  margin-top:7%;
}
#web1:hover {border-radius:4.5%;}
#web2:hover {border-radius:4.5%;}
#web3:hover {border-radius:4.5%;}
#web4:hover {border-radius:4.5%;}


.banner{
  background-image: -webkit-linear-gradient( #8EDBF1  ,#B8E8F6 ) ;
  margin-top:10%;
  border-radius: 8px;
}
#textban{
  padding: 80px 0;
  text-align: center;
  color:#FFFFFF;
  font-weight:150;
  font-size:40px;
  line-height:1em;
  font-family:Arial;
}

.disp1, .disp2, .disp3{
  margin-top:3%;
  font-size:22px;
  line-height:1.3em;
  font-family:sans-serif;
}
.disp1, .disp3{ text-align: left;}
.disp2 { text-align:right; }
.disp3{ margin-top:4%;}

.jumbotron{
  text-align: center;
  font-family: sans-serif;
  margin-top:8%;
  background-image: -webkit-linear-gradient(#F9F4F4 ,#F8F4F4 ,#CEC9C9  );
}
.jumbo{
  font-size: 175%;
}

footer{
  text-align:center;
}
.fa {
  padding-top:10px;
  padding-bottom:3px;
  width: 60px;
  height:60px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 47%;
  color: #FFFFFF;
}
.fa:hover {
  opacity: 0.2;
}
.fa-facebook {  background: #3B5998;}
.fa-instagram {   background-image: -webkit-linear-gradient( #BC32F7, #E949C0,#F78B32,#FCEC85 );}
.fa-linkedin {  background: #007bb5;}
.fa-google {  background: #dd4b39;}


@media screen and (max-width: 1400px)
{
  .disp img, .textbg, .logobg, .scrollingeffect, #imgbg,#imgban{
    display:none;
  }
  #web1,#part1, .jumbotron{
    margin-left:9%;
  }
  #part2{
    width: 53%;
    height: 60%;
  }
  .jumbo{
    padding-bottom: 7%;
  }
  .logo{
    width:250px;
  height: 40px;
  padding-bottom:1px;
  }
  #welcometext {
  font-weight:220;
  font-size:350%;
}
#web1, #web2,#web3,#web4{
  width: 295px;
  height: 340px;
}
#d1,#d2,#d3,#d4{
  font-size: 30px;
}
#domain, #contact{
  font-weight: 200;
  font-size:300%;
}
.card1{
  margin-left:20%;
}
#textban{
  padding: 12px;
  font-weight:100;
  font-size:40px;
}
}
